{% extends 'commonbase.html' %}

{% block content %}

<br>
<br>
<div class="col-md-3 col-sm-12">
</div>

<div class="col-md-6 col-sm-12">
<div style="padding-top: 4px;">
    <a href="{% url 'add_category' %}"><button class="btn btn-danger">add category</button></a>
<br>
<br>


</div>
 <div style="padding-top: 4px;">
    <a href="{% url 'book' %}"><button class="btn btn-danger">add book</button></a>
</div>
<br>


<div style="padding-top: 4px;">
    <a href="{% url 'book_view' %}"><button class="btn btn-danger">view books</button></a>
</div>
<br>

<div style="padding-top: 4px;">
    <a href="{% url 'logout' %}"><button class="btn btn-danger">logout</button></a>
</div>
<br>

<div style="padding-top: 4px;">
    <a href="{% url 'viewhistory' %}"><button class="btn btn-danger">view history</button></a>
</div>
<br>

<div style="padding-top: 4px;">
    <a href="{% url 'viewreturn' %}"><button class="btn btn-danger">view return</button></a>
</div>
<br>
<div style="padding-top: 4px;">
    <a href="{% url 'changeadmin' %}"><button class="btn btn-danger">change password</button></a>
</div>
<div class="col-md-3 col-sm-12">
</div>
<br>
<br>

</div>





{% endblock %}






