{% extends 'commonbase.html' %}

{% block content %}

<!-- header -->
<!-- banner -->
<!-- banner-slider -->
			<div class="banner-slider">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>
									<div class="agileits-banner-info">
										<div class="container">
											<div class="w3ls-banner-shadow">
												<h3>THE PLACE FOR HAPPY AND CREATIVE LEARNING</h3>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="agileits-banner-info agileits-banner-info1">
										<div class="container">
											<div class="w3ls-banner-shadow">
												<h3>Help on your way to academic excellence!</h3>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="agileits-banner-info agileits-banner-info2">
										<div class="container">
											<div class="w3ls-banner-shadow">
												<h3>THE PLACE FOR HAPPY AND CREATIVE LEARNING</h3>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
						<script src="/static/web/js/responsiveslides.min.js"></script>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider4").responsiveSlides({
								auto: true,
								pager:true,
								nav:false,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });
						
							});
						 </script>
						<!--banner Slider starts Here-->
					</div>
			</div>
			<!-- //banner-slider -->

<!-- services -->
	<div class="services">
		<div class="container">
			<div class="w3layouts_header">
				<h2>RECENT <span>PROGRAMS </span></h2>
				<p><span><i class="fa fa-book" aria-hidden="true"></i></span></p>
			</div>
			<div class="w3_services_grids">
				<div class="col-md-6 w3l_services_grid">
					<div class="w3ls_services_grid agileits_services_grid3">
						<div class="wthree_service_text">
							<h3>EDUCATION</h3>
							<h4>EDUCATIONAL RESOURCES</h4>
						</div>
					</div>
					
				</div>
				<div class="col-md-6 w3l_services_grid">
					<div class="w3ls_services_grid agileits_services_grid4">
						<div class="wthree_service_text">
							<h3>ARTS & CULTURE</h3>
							<h4>RESOURCES, EVENTS & PROGRAMS</h4>
						</div>
					</div>
					
				</div>
				<div class="col-md-4 w3l_services_grid">
					<div class="w3ls_services_grid agileits_services_grid">
						<div class="wthree_service_text">
							<h3>WELLNESS </h3>
							<h4>EVENTS AND PROGRAMS</h4>
						</div>
					</div>
					
				</div>
				<div class="col-md-4 w3l_services_grid">
					<div class="w3ls_services_grid agileits_services_grid2">
						<div class="wthree_service_text">
							<h3>COURSES</h3>
							<h4>EVENTS AND PROGRAMS</h4>
						</div>
					</div>
				
				</div>
				<div class="col-md-4 w3l_services_grid">
					<div class="w3ls_services_grid agileits_services_grid1">
						<div class="wthree_service_text">
							<h3>RECREATION</h3>
							<h4>EVENTS AND PROGRAMS</h4>
						</div>
					</div>
					
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->
<!-- statistics -->
	<div class="statistics">
		<div class="container">
			<div class="col-md-6 w3layouts_statistics_grid_left">
				<div class="w3_statistics_grid_left_grid">
					<img src="/static/web/images/g5.jpg" alt=" " class="img-responsive" />
					
				</div>
			</div>
			<div class="col-md-6 w3layouts_statistics_grid_right">
				<h4>Nulla faucibus mauris ac leo imperdiet, id auctor urna consectetur</h4>
				<div class="col-md-4 w3_stats_grid">
					<h3 id="w3l_stats1" class="odometer">0</h3>
					<p>Experience</p>
					<div class="w3layouts_stats_grid1">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
				</div>
				<div class="col-md-4 w3_stats_grid">
					<h3 id="w3l_stats2" class="odometer">0</h3>
					<p>Awards</p>
					<div class="w3layouts_stats_grid1">
						<i class="fa fa-trophy" aria-hidden="true"></i>
					</div>
				</div>
				<div class="col-md-4 w3_stats_grid">
					<h3 id="w3l_stats3" class="odometer">0</h3>
					<p>Students</p>
					<div class="w3layouts_stats_grid1">
						<i class="fa fa-users" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //statistics -->

<!-- odometer-script -->
	<script src="/static/web/js/odometer.js"></script>
	<script>
		window.odometerOptions = {
		  format: '(ddd).dd'
		};
	</script>
	<script>
		setTimeout(function(){
			jQuery('#w3l_stats1').html(25);
		}, 1500);
	</script>
	<script>
		setTimeout(function(){
			jQuery('#w3l_stats2').html(330);
		}, 1500);
	</script>
	<script>
		setTimeout(function(){
			jQuery('#w3l_stats3').html(542);
		}, 1500);
	</script>
<!-- //odometer-script -->
<!-- featured-services -->
	



<!-- //featured-services -->
<!-- subscribe -->


{% endblock %}